* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

body {
  background-image: url('mjwr1logo.jpeg'); /* Replace with actual path */
  background-repeat: repeat;
  background-position: center;
  background-size: 200px; /* Adjust size as needed */
  opacity: 0.05; /* Makes watermark subtle */
  z-index: -1;
}


main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}
